.tasks {
  display: flex;
  flex-direction: column;
  width: 80vw;
  border-radius: 3px;
  overflow: hidden;
}

.tasks__form {
  display: flex;
}

.tasks__input {
  flex: 1;
  padding: 0.5rem;
  border: none;
}

.task__form-button {
  border-radius: 0;
}
