.button {
  font-size: 1rem;
  font-weight: 700;
  color: white;
  padding: 1rem;
  border: 1px solid var(--red);
  background: var(--red);
  outline: none;
}

.button:hover {
  cursor: pointer;
  border: 1px solid white;
}
