html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

:root {
  --dark: rgb(46, 46, 46);
  --grey: rgb(107, 107, 107);
  --red: rgb(241, 103, 106);
}
